<div *ngFor="let item of card ">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" 
        src="https://www.highlandscoffee.com.vn/vnt_upload/product/05_2018/thumbs/270_crop_CFD.png"
         alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{item.ten}}</h5>
          <p class="card-text">{{item.gia}} <span>VND</span></p>
          <a href="#dathang" class="btn btn-5">Mua Ngay</a>
        </div>
      </div>
  </div>














<!-- <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
 -->
