


<li class="row">
  <a class="row" routerLink="/caphe" routerLinkActive="active"  ><span>MENU</span></a>
  <div *ngFor="let item of getall ">         
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" 
        src={{item.url}}
         alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{item.ten}}</h5>
          <p class="card-text"  style= "color:blue">{{item.gia}} <span>VND</span></p>
          <a 
            href="#dathang" class="btn btn-5">Mua Ngay   
          </a>
          </div>
      </div>
</div>
</li>
