<h1>-------------------------------------------------------------------</h1>
<nav id="primary_nav_wrap">
<ul>
  <li class="current-menu-item"><a  routerLink="/login" routerLinkActive="active">Home</a></li>
  
  <li><a href="#">Menu</a>
    <ul>
      <li><a routerLink="/caphe" routerLinkActive="active"> <button (click)="myClickCaphe($event)"><span>Cà Phê</span></button> </a></li>
      <li><a href="#">Trà Trái Cây</a></li>
      <li><a href="#">Merchandise</a></li>
     </ul>   
  </li>
  <li><a routerLink="/news" routerLinkActive="active"  ><span>Bản Tin</span></a>
    <ul>
      <li><a href="#">Khiếu Mãi</a></li>
      <li><a href="#">Sản Phẩm mới</a></li>
      <li><a href="#"></a></li>
    </ul>
  </li>
  <li><a href="#">Tuyển Dụng</a>
  </li>
  <li><a routerLink="/contact" routerLinkActive="active"  ><span>Contact US</span></a></li>
</ul>

</nav>










<!-- 
<ul class="nav "  >
    <li class="nav-item">
      <a class="nav-link active" routerLink="/login" routerLinkActive="active"><span>HOME</span></a>
      <router-outlet></router-outlet>
    </li>
    
    <li class="nav-item">
       <a class="nav-link" routerLink="/ca-phe" routerLinkActive="active"  ><span>MENU</span></a>  -->
      <!-- <app-card></app-card>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><span>NEW</span></a>
      <app-news></app-news>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="#"><span>CONTACT</span></a>
      <app-contact></app-contact>
    </li>
  </ul>

   -->