<ul class="nav" >
    <li class="nav-item">
      <a class="nav-link active" href="#"><span>HOME</span></a>
      
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:4200/product.html"><span>MENU</span></a>
      <app-card></app-card>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><span>NEW</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#"><span>CONTACT</span></a>
      <app-contact></app-contact>
    </li>
  </ul>