<ul class="nav "  >
    <li class="nav-item">
      <a class="nav-link active" routerLink="/login" routerLinkActive="active"><span>HOME</span></a>
      <app-login></app-login>
    </li>
    
    <li class="nav-item">
       <!-- <a class="nav-link" routerLink="/ca-phe" routerLinkActive="active"  ><span>MENU</span></a>  -->
      <app-card></app-card>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><span>NEW</span></a>
      <app-news></app-news>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="#"><span>CONTACT</span></a>
      <app-contact></app-contact>
    </li>
  </ul>


  <nav>
    <a  routerLink="/login" routerLinkActive="active"><span>HOME</span></a> |
    <a  routerLink="/ca-phe" routerLinkActive="active"  ><span>MENU</span></a> |
    <a  href="#"><span>NEW</span></a> |
    <a  href="#"><span>CONTACT</span></a> |
  </nav>

  